HELP.md

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse / STS
.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache
.apt_generated

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Build folders
build/

# OS files
.DS_Store
Thumbs.db